<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @home_section } %>

<%= render partial: 'spree/admin/home_section_products/line_item', formats: :js %>
<%= render partial: 'spree/admin/products/autosearch', formats: :js %>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.field_container :title, class: ['form-group'] do %>
      <%= f.label :title, raw(I18n.t(:title, scope: 'activerecord.attributes.spree/home_section') + required_span_tag) %>
      <%= f.text_field :title, class: 'form-control', required: :required %>
      <%= f.error_message_on :title %>
    <% end %>
  </div>

  <div class="form-group col-md-6">
    <%= f.field_container :internal_name, class: ['form-group'] do %>
      <%= f.label :internal_name, raw(I18n.t(:internal_name, scope: 'activerecord.attributes.spree/home_section') + required_span_tag) %>
      <%= f.text_field :internal_name, class: 'form-control', required: :required %>
      <%= f.error_message_on :internal_name %>
    <% end %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= f.field_container :section_type, class: ['form-group'] do %>
      <%= f.label :section_type, raw(I18n.t(:section_type, scope: 'activerecord.attributes.spree/home_section') + required_span_tag) %>
      <%= f.select :section_type, Spree::HomeSection.section_types.map { |key, value| [key.humanize, key] }, { include_blank: true }, {class: 'form-control', required: :required} %>
      <%= f.error_message_on :section_type %>
    <% end %>
  </div>
  <div class="form-group col-md-6">
    <%= f.field_container :visible, class: ['form-group'] do %>
      <%= f.label :visible, raw(I18n.t(:visible, scope: 'activerecord.attributes.spree/home_section') + required_span_tag) %>
      <%= f.select :visible, [[I18n.t("helpers.home_section.select_attr.values.option_yes"), true], [I18n.t("helpers.home_section.select_attr.values.option_no"), false]], { include_blank: true }, {class: 'form-control', required: :required} %>
      <%= f.error_message_on :visible %>
    <% end %>
  </div>
</div>

<% if action_name == "edit" %>
  <% unless @home_section.banner_products?  %>

    <% @items.each do |item| %>
      <div class="card mb-12">
        <div class="row no-gutters">
          <div class="col-md-4">
            <% if item.image.attached? %>
              <%= image_tag main_app.url_for(item.image), class: "card-img" %>
              <p>
                <%= link_to 'Remove', "#{admin_home_section_path(@home_section.id)}?img=#{item.image.signed_id}", method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
            <div class="custom-file">
              <input type="file" name="home_section[home_section_items_attributes][<%= item.id %>][image]" class="custom-file-input" id="home_section_<%= item.id %>_title" lang="es">
              <label class="custom-file-label" for="home_section_<%= item.id %>_title" style="overflow: hidden;text-overflow:ellipsis;"><%= Spree.t(:select_image) %></label>
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">
                <% if @home_section.banner_text? || @home_section.main_banner? || @home_section.banner_2? %>
                  <div class="form-group">
                    <label for="home_section_<%= item.id %>_title">Titulo</label>
                    <input class="form-control internal_name" type="text" value="<%= item.title %>" name="home_section[home_section_items_attributes][<%= item.id %>][title]" id="home_section_<%= item.id %>_title">
                  </div>
                <% end %>

                <% if @home_section.banner_text?  %>
                  <div class="form-group">
                    <label for="home_section_<%= item.id %>_subtitle">Subtitulo</label>
                    <input class="form-control internal_name" type="text" value="<%= item.subtitle %>" name="home_section[home_section_items_attributes][<%= item.id %>][subtitle]" id="home_section_<%= item.id %>_subtitle">
                  </div>
                  <div class="form-group">
                    <label for="home_section_<%= item.id %>_description">Descripcion</label>
                    <input class="form-control internal_name" type="text" value="<%= item.description %>" name="home_section[home_section_items_attributes][<%= item.id %>][description]" id="home_section_<%= item.id %>_description">
                  </div>
                <% end %>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="home_section_<%= item.id %>_text_button">Texto Boton</label>
                    <input class="form-control internal_name" type="text" value="<%= item.text_button %>" name="home_section[home_section_items_attributes][<%= item.id %>][text_button]" id="home_section_<%= item.id %>_text_button">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="home_section_<%= item.id %>_link_button">Link Boton</label>
                    <input class="form-control internal_name" type="text" value="<%= item.link_button %>" name="home_section[home_section_items_attributes][<%= item.id %>][link_button]" id="home_section_<%= item.id %>_link_button">
                  </div>
                </div>
              </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <% else %>

    <div class="form-group">
      <table class="table">
        <thead data-hook="home_sections_product_header">
          <tr>
            <th></th>
            <th><%= Spree.t(:image) %></th>
            <th><%= plural_resource_name(Spree::Product) %></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <%= content_tag :tbody,
          id: "section-product-list",
          data: {
            home_sections: parse_home_sections(@home_section)
        } do %>

        <% end %>
      </table>
    </div>

    <%= hidden_field_tag 'home_section[force_delete]', true %>

    <div class="card mb-3">
      <div class="card-header">
        <h1 class="card-title mb-0 h5"><%= Spree.t(:add_product) %></h1>
      </div>
      <div class="card-body">
        <div class="form-group">
          <%= label_tag :product_search, Spree.t(:name_or_sku) %>
          <%= hidden_field_tag :product_search, "",
            class: "product-autosearch d-block w-100"
          %>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
<br/>

<script>
  $('.custom-file-input').on('change',function(){
    //get the file name
    var fileName = $(this).val();
    //replace the "Choose a file" label
    $(this).next('.custom-file-label').html(fileName.split(/(\\|\/)/g).pop());
  })
</script>
