<% content_for :page_title do %>
  <%= Spree.t(:home_section_title_index) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_home_section), new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_home_section' } %>
<% end if can?(:create, Spree::HomeSection) %>

<% if @home_sections.any? %>
  <table class="table sortable" data-sortable-link="<%= update_positions_admin_home_sections_url %>">
    <thead data-hook="home_sections_header">
      <tr>
        <th></th>
        <th><%= I18n.t(:title, scope: 'activerecord.attributes.spree/home_section') %></th>
        <th><%= I18n.t(:internal_name, scope: 'activerecord.attributes.spree/home_section') %></th>
        <th><%= I18n.t(:section_type, scope: 'activerecord.attributes.spree/home_section') %></th>        
        <th><%= I18n.t(:visible, scope: 'activerecord.attributes.spree/home_section') %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @home_sections.order("position ASC").each do |home_section| %>
        <tr id="<%= spree_dom_id home_section %>"  data-hook="home_sections_row">
          <td class="move-handle handle grabbable">
            <span class="icon icon-move"></span>
          </td>
          <td><%= home_section.title %></td>
          <td><%= home_section.internal_name %></td>
          <td><%= I18n.t("helpers.home_section.select_section_type.values.#{home_section.section_type}") %></td>
          <td><%= home_section.visible %></td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit(home_section, no_text: true) if can?(:edit, home_section) %>
            <%= link_to_delete(home_section, no_text: true) if can?(:destroy, home_section) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found alert alert-info">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::HomeSection)) %>
    <% if can?(:create, Spree::HomeSection) %>
      - <%= link_to(Spree.t(:add_one), spree.new_admin_home_section_path(@home_section)) %>!
    <% end %>
  </div>
<% end %>
